*{
    font-family: sans-serif;
    font-size: 1.2em;
}

td{
    background-color: #ccc;
    padding: 10px 30px 10px 30px;
    border-radius: 0.2em;
    text-align: center;
    cursor: default;
}

#result{
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    padding: 10px 30px 10px 30px;
    text-align: right;
}

#probability {
    color: crimson;
    border-width: 0px;
    text-align: right;
}

#probability_ascii {
    color: crimson;
    border-width: 0px;
    text-align: right;
}

/* button source: https://github.com/michenriksen/css3buttons */
#btn {

    display: inline-block;
    padding: 5px;
    font-family: 'lucida grande',
    tahoma, verdana, arial, sans-serif; font-size: 12px; color: #3C3C3D;
    text-shadow: 1px 1px 0 #FFFFFF;
    background: #ECECEC url('../images/css3buttons_backgrounds.png') 0 0 no-repeat;
    white-space: nowrap;
    overflow: visible;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #CACACA; -webkit-border-radius: 2px;-moz-border-radius: 2px;
    border-radius: 2px;
    outline: none;
    position: relative;
    zoom: 1;
    line-height: 1.11;
    display: inline;
    vertical-align: middle;
}